<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact Me.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
</head>
<body>
    <div class="grid">
        <section class="contact-section">
            <img id="heart" src="images/heart_white.png">
            
        </section>
        
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="work.html">Work</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>    
        </nav>
    
        <section class="main-content">
            <h1>Contact Me.</h1>
            <p>Thanks for coming to my site. If you have any questions or want to work together, fill out the form below.</p>
    
            <form id="form">
                <fieldset>
                    <legend>Contact Form</legend>
                    <input type="text" placeholder="John Doe" v-model="name"><br>
                    <input type="email" placeholder="example@example.com" v-model="email"><br>
                    <textarea placeholder="How can I help you?" v-model="message"></textarea><br>
                    <br>
                    <button type="submit" class="btn btn-outline-dark" id="submit">Submit</button>
                </fieldset>
            </form>

            <ul class="social">
                <li><a href="https://www.behance.net/trentondaniels" target="_blank"><img src="images/Behance.png"></a></li>
                <li><a href="https://github.com/trentondaniels95" target="_blank"><img src="images/Github.png"></a></li>
                <li><a href="https://twitter.com/DanielTrents" target="_blank"><img src="images/Twitter.png"></a></li>
                <li><a href="https://www.instagram.com/trentedaniels/" target="_blank"><img src="images/Instagram.png"></a></li>
            </ul>
        </section>
    </div>
    
</body>
</html>